.state-change-history-toggle {
  color: #f7fcff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 13px 0;

  text-align: center;
  cursor: pointer;
}

.state-change-history-toggle.pressed {
  background-color: #135fd6;
}
