.select-box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.37) 0px 8px 15px 0px;
  transition: visibility 0s;
  z-index: 1;
}

.select-box-button {
  background-color: lightgray;
  color: #333;
  width: 8rem;
  height: 2rem;
  outline: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.select-box-button:hover {
  filter: brightness(1.2);
}

@keyframes selectBoxOpenKeyframe {
  0% {
    transform: scale(0.6);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes selectBoxCloseKeyframe {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.6);
    opacity: 0;
  }
}
