.switch-input {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  cursor: pointer;
}

.switch-input + label {
  width: 50px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: lightgray;
  border-radius: 5rem;
  padding-left: 2px;

  margin-left: 5px;

  cursor: pointer;
}
.switch-input:hover + label {
  filter: brightness(1.1);
}

.switch-input:checked + label {
  background-color: #0098ff;
}

.switch-input:checked + label > span {
  transform: translateX(18px);
}

.switch-circle {
  background-color: white;
  width: 25px;
  height: 25px;
  position: absolute;
  border: 1px solid lightgray;
  border-radius: 100%;
  transition: transform 0.2s cubic-bezier(0.42, 0, 0.22, 1.4);
}
