#recoil-inspector-frontend {
  color-scheme: light;
  font-family: Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;

  color-scheme: inherit;
  background-color: inherit;
  color: #f7fcff;

  font-family: inherit;
  font-synthesis: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-text-size-adjust: inherit;
  text-rendering: inherit;
}
