.button {
  background-color: #0064ff;
  color: white;

  border-radius: 10px;

  font-size: 1.1rem;

  appearance: none;
  -webkit-appearance: none;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 8px;

  border: none;
  outline: none;

  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: #1c75ff;
  box-shadow: 0px 0px 5px 1px #1c75ff;
}

.button:active {
  filter: brightness(0.8);
  font-weight: bold;
}

.button:disabled {
  filter: contrast(0.5);
  cursor: not-allowed;
}

.button-sm {
  width: 120px;
  height: 52px;
}

.button-md {
  width: 140px;
  height: 52px;
}

.button-lg {
  width: 160px;
  height: 52px;
  font-size: 1.2rem;
}
