.toggle-container {
  background-color: #2b313d;

  appearance: none;
  -webkit-appearance: none;

  border: none;
  outline: none;

  transform: filter 0.2 ease-out;
}

.toggle-container:hover {
  filter: brightness(1.1);
}

.toggle-container:active {
  filter: grayscale(0.8);
}
